<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceCalculator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10733/ServiceCalculator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCalculator"
                contract="ServiceReference.IServiceCalculator" name="BasicHttpBinding_IServiceCalculator" />
        </client>
    </system.serviceModel>
</configuration>